# Ignore build output directories
bin/
obj/
Debug/
Release/

# Ignore Visual Studio files
.vs/
.vscode/

# Ignore user-specific files
*.user
*.suo

# Ignore external dependencies
packages/
vcpkg/

*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Ignore compiled files
*.exe
*.dll
*.pdb
*.obj
*.lib

# Ignore IDE-specific files
*.aps
*.ncb
*.log
Thumbs.db
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm

x64/

**/pch.*

**/*.pch

.env

*.py

*.csv

*.sln

